.ItemList {
  display: flex;
  flex-wrap: wrap;
}

.ItemList div {
  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
}

.cart {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 0 auto;
  }
  
  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .cart-item-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  